@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Sofia+Sans:wght@300;500&display=swap');

:root {
  --font-primary: 'Sofia Sans', sans-serif;
  --font-secondary: 'Nunito', sans-serif;
  --color-primary: #27272a;
  --color-secondary: #d4d4d8;
  --color-tertiary: #fafafa;
}
