:root {
  --font-primary: 'Sofia Sans', sans-serif;
  --font-secondary: 'Nunito', sans-serif;
  --color-primary: #27272a;
  --color-secondary: #d4d4d8;
  --color-tertiary: #fafafa;
  --color-quaternary: #b91c1c;
}
