<footer>
  <div class="footer">
    <div class="footer__row">
      <div class="footer__row__col">
        <h4>Zero Fox</h4>
        <ul>
          <li><a href="">Quem somos</a></li>
          <li><a href="">Endereço</a></li>
          <li><a href="">Politica de Privacidade</a></li>
        </ul>
      </div>

      <div class="footer__row__col">
        <h4>Obter Ajuda</h4>
        <ul>
          <li><a href="">FAQ</a></li>
          <li><a href="">Status de Pedido</a></li>
          <li><a href="">Devoluções</a></li>
          <li><a href="">Opções de Pagamento</a></li>
        </ul>
      </div>

      <div class="footer__row__col">
        <h4>Contato</h4>
        <div class="footer__row__col__social-media">
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </div>
  </div>

</footer>




<style>
@import '../css/index.css'; 

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--color-primary);
}
.footer{
  width: 100vw;
  padding: 0 4%;
  margin: auto;
}

.footer__row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__row__col{
  width: 25%;
  padding: 0 15px;
}

.footer__row__col h4{
  font-size: 22px;
  font-family: var(--font-primary);
  color: var(--color-secondary);
  margin-bottom: 20px;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}

.footer__row__col ul li{
  margin: 10px 0;
}

.footer__row__col ul li a{
  font-size: 16px;
  font-family: var(--font-secundary);
  text-transform: capitalize;
  color: var(--color-tertiary);
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer__row__col ul li a:hover{
  color: var(--font-primary);
  padding-left: 10px;
}

.footer__row__col .footer__row__col__social-media{
  margin-top: 30px;
}

.footer__row__col .footer__row__col__social-media a{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: var(--color-tertiary);
  border: 1px solid var(--color-tertiary);
  transition: all 0.5s ease;
}

.footer__row__col .footer__row__col__social-media a:hover{
  color: var(--color-primary);
  background-color: var(--color-tertiary);
}

.footer__row__col .footer__row__col__social-media a i{
  font-size: 20px;
}

/* media query */
@media (max-width:600px){
  .footer__row__col{
    width: 100%;
  }
}


@media (max-width:800px){
  .footer__row__col{
    width: 50%;
    margin-bottom: 30px;
  }
}
</style>