<section id="galeria" class="gallery">
  <div class="gallery__title">Galeria</div>
  <div class="gallery__underline"></div>
  <div class="gallery__slider-wrapper">
    <div class="gallery__slider">
      <div class="gallery__slides">
        <div id="slides__1" class="slide">
          <img class="slide__image" src="../images/korean-bar.jpg"/>
        </div>
        <div id="slides__2" class="slide">
          <img class="slide__image" src="../images/background-mobile.jpg"/>
        </div>
        <div id="slides__3" class="slide">
          <img class="slide__image" src="../images/korean-plate.jpg"/>
        </div>
        <div id="slides__4" class="slide">
          <img class="slide__image" src="../images/korean-table.jpg"/>
        </div>
        <div id="slides__5" class="slide">
          <img class="slide__image" src="../images/korean-clients.jpg"/>
        </div>
      </div>
      <div class="gallery__nav">
        <a class="gallery__link" href="#slides__1" tabindex="0"></a>
        <a class="gallery__link" href="#slides__2" tabindex="0"></a>
        <a class="gallery__link" href="#slides__3" tabindex="0"></a>
        <a class="gallery__link" href="#slides__4" tabindex="0"></a>
        <a class="gallery__link" href="#slides__5" tabindex="0"></a>
      </div>
    </div>
  </div>
  <div class="gallery__pics">
    <a class="gallery_view" href="../images/background-mobile.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/background-mobile.jpg">
    </a>
    <a class="gallery_view" href="../images/food-1.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/food-1.jpg">
    </a>
    <a class="gallery_view" href="../images/korean-bar.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/korean-bar.jpg">
    </a>
    <a class="gallery_view" href="../images/food-2.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/food-2.jpg">
    </a>
    <a class="gallery_view" href="../images/korean-clients.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/korean-clients.jpg">
    </a>
    <a class="gallery_view" href="../images/food-3.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/food-3.jpg">
    </a>
    <a class="gallery_view" href="../images/korean-plate.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/korean-plate.jpg">
    </a>
    <a class="gallery_view" href="../images/food-4.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/food-4.jpg">
    </a>
    <a class="gallery_view" href="../images/korean-table.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/korean-table.jpg">
    </a>
    <a class="gallery_view" href="../images/korean-bar.jpg" target="_blank" tabindex="0">
      <img class="gallery__photo" src="../images/korean-bar.jpg">
    </a>
  </div>
</section>

<style>
@import '../css/index.css';

.gallery {
  align-items: center;
  background-color: var(--color-tertiary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px;
  width: calc(100% - 32px);
}

.gallery__title {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-size: 24px;
  font-weight: 500;
}

.gallery__underline {
  background-color: var(--color-primary);
  height: 2px;
  margin-top: 4px;
  width: 48px;
}

.gallery__slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 16px;
  width: 100%;
}

.gallery__slider {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.gallery__slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 400px;
}

.slide:nth-of-type(even) {
  background-color: rgb(250, 246, 212);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 400px;
  scroll-snap-align: center;
  margin-right: 0px;
  box-sizing: border-box;
  background: var(--color-primary);
  transform-origin: center center;
  transform: scale(1);
  overflow-y: hidden;
}

.slide__image {
  height: auto;
  width: 280px;
}

.slide a {
  background: none;
  border: none;
}

.gallery__nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 2%;
  left: 50%;
  margin-left: -100px;
  text-align: center;
}

.gallery__link {
  border: solid 2px var(--color-primary);
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--color-tertiary);
  margin: 0 10px 0 10px;
}

.gallery__link:focus {
  background: var(--color-secondary);
}

.gallery__pics {
  display: grid;
  gap: 4px;
  grid-template-columns: 64px 64px 64px 64px 64px;
  grid-template-rows: none;
  margin-top: 32px;
}

.gallery_view {
  height: 100%;
  width: 100%;
}

.gallery__photo {
  height: 100%;
  width: 100%;
}

@media (min-width: 480px) and (max-width: 768px) {
  .gallery__title {
    font-size: 26px;
  }

  .slide__image {
    height: 320px;
    width: 320px;
  }

  .gallery__pics {
    gap: 8px;
    grid-template-columns: 80px 80px 80px 80px 80px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .gallery__title {
    font-size: 30px;
  }

  .gallery__slider {
    height: 480px;
  }

  .gallery__slides {
    height: 480px;
  }

  .slide {
    height: 480px;
  }

  .slide__image {
    height: 380px;
    width: 380px;
  }

  .gallery__pics {
    gap: 16px;
    grid-template-columns: 96px 96px 96px 96px 96px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .gallery__title {
    font-size: 32px;
  }

  .gallery__slider {
    height: 520px;
  }

  .gallery__slides {
    height: 520px;
  }

  .slide {
    height: 520px;
  }

  .slide__image {
    height: 480px;
    width: 480px;
  }

  .gallery__pics {
    gap: 24px;
    grid-template-columns: 112px 112px 112px 112px 112px;
  }
}

@media (min-width: 1201px) {
  .gallery__title {
    font-size: 35px;
  }

  .gallery__slider {
    height: 560px;
  }

  .gallery__slides {
    height: 560px;
  }

  .slide {
    height: 560px;
  }

  .slide__image {
    height: 520px;
    width: 520px;
  }

  .gallery__pics {
    gap: 32px;
    grid-template-columns: 128px 128px 128px 128px 128px;
  }
}

</style>