<div class="home">
  <div class="home__restaurant-section">
    <img src="../images/kabayaki.png" alt="logo">
    <h1><a href="./home.html">ZERO FOX</a></h1>
    <p>BAR ARTESANAL - COZINHA<br>COREANA & JAPONESA</p>
  </div>
</div>
<style>
  @import '../css/index.css';

  .home {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home__restaurant-section {
    background-color: rgb(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 300px;
    height: 300px;
    text-align: center;
  }

  .home__restaurant-section p,
  h1 {
    color: var(--color-secondary);
  }

  .home__restaurant-section h1{
    font-family: var(--font-primary);
  }

  .home__restaurant-section p{
    font-family: var(--font-secondary);
  }

  /* media query*/
  @media (max-width: 480px){
    .home{
      background-image: url(../images/background-mobile1.jpg);
    }
  }

  @media (min-width: 481px) and (max-width: 1024px){
    .home{
      background-image: url(../images/background-tablet1.jpg);
    }
  }

  @media (min-width: 1025px){
    .home{
      background-image: url(../images/background-desktop.jpg);
    }
  }
</style>